/**
 * @file
 * Overall specifications for Drupal8 W3CSS Theme.
 */

/* Reset Links. */
html,
body {
  min-height: 100%;
  overflow-wrap: break-word;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
img,
object,
embed,
video {
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  text-align: center;
  max-width: 100%;
  height: auto;
}
a img {
  border: none;
}
svg:not(:root) {
  overflow: hidden;
}
h4,
h5,
h6 {
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
li a {
  line-height: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  outline: none;
}
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
.w3-ul li {
  border: none;
  border-width: 0!important;
}
/* System Messages. */
.messages {
  background: no-repeat 10px 17px;  /* LTR */
  border: 1px solid;
  border-width: 1px 1px 1px 0;  /* LTR */
  border-radius: 2px;
  padding: 15px 20px 15px 20px; /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word;
}
[dir="rtl"] .messages {
  border-width: 1px 0 1px 1px;
  background-position: right 10px top 17px;
  padding-left: 20px;
  padding-right: 35px;
  text-align: right;
}
.messages + .messages {
  margin-top: 1.538em;
}
.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.messages__item + .messages__item {
  margin-top: 0.769em;
}
/* See .color-success in Seven's colors.css */
.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;  /* LTR */
  box-shadow: -8px 0 0 #77b259; /* LTR */
}
[dir="rtl"] .messages--status {
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
  margin-left: 0;
}
/* See .color-warning in Seven's colors.css */
.messages--warning {
  background-color: #fdf8ed;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;  /* LTR */
  color: #734c00;
  box-shadow: -8px 0 0 #e09600; /* LTR */
}
[dir="rtl"] .messages--warning {
  border-color: #f4daa6 transparent #f4daa6 #f4daa6;
  box-shadow: 8px 0 0 #e09600;
}
/* See .color-error in Seven's colors.css */
.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;  /* LTR */
  box-shadow: -8px 0 0 #e62600; /* LTR */
}
[dir="rtl"] .messages--error {
  border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
  box-shadow: 8px 0 0 #e62600;
}
.messages--error p.error {
  color: #a51b00;
}
/* Form API. */
.form-radios .form-item,
.form-checkboxes .form-item {
  margin-top: 0.4em!important;
  margin-bottom: 0.4em!important;
}
.form-radios .form-type-radio,
.form-type-checkbox {
  max-width: 100%;
  text-align: left;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px!important; /* LTR */
  float: none!important;
}
[dir="rtl"] .form-type-radio label,
[dir="rtl"] .form-type-checkbox label {
  margin-right: 4px!important;
  margin-left: 0!important;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px!important; /* LTR */
}
[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description {
  margin-right: 2px!important;
  margin-left: 0!important;
}
.marker {
  color: #e00;
}
.form-checkbox,
.form-radio {
  display: inline-block;
}
abbr.tabledrag-changed,
abbr.ajax-changed {
  border-bottom: none;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}
.form-wrapper .field-multiple-table .label {
  font-size: inherit;
}
.form-required:after {
  content: "\f069"!important;
  font-family: FontAwesome;
  color: red;
  vertical-align: super;
  display: inline-block!important;
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  margin: 0 0.3em;
}
/* Inline Error Message. */
.form-item--error-message:before {
  font-family: FontAwesome;
  content: "\f00d";
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: sub;
  color: red;
  background-size: contain;
}
/* Breadcurmb. */
ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  border-bottom: none;
  padding: 5px 3px 5px;
}
ul.breadcrumb li+li:before {
  padding: 8px 0;
  content: "/\00a0";
}
/* Tabs. */
ul.tabs li {
  padding: 0!important;
}
ul.primary {
  border-bottom: 2px solid gray;
}
ul.primary > li {
  border-right: 1px solid gray!important;
  float: left;
}
ul.primary > li:last-child {
  border-right: none!important;
}
ul.primary > li a {
  padding: 8px 16px;
  display: block;
}
ul.secondary > li a {
  padding: 5px 10px;
  display: block;
}
.maintenance-page {
  background-color: #a0a0a0!important;
}
.maintenance-page main {
  min-height: 700px;
  margin-top: 30px!important;
}
/* Form */
input,
textarea,
.view-filters details.form-wrapper {
  -webkit-box-shadow: inset 0 0 5px 0 rgba(51,44,51,0.1);
  -moz-box-shadow: inset 0 0 5px 0 rgba(51,44,51,0.1);
  box-shadow: inset 0 0 5px 0 rgba(51,44,51,0.1);
}
