/* Global Menus */
.ul-parent,
.ul-child,
.li-item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ul-parent:before,
.ul-parent:after {
  content: " ";
  display: table;
}
.ul-parent:after {
  clear: both;
}
.ul-parent > li > a {
  z-index: 200;
}
.ul-parent ul > li > a {
  z-index: 300;
}
.ul-parent ul ul > li > a {
  z-index: 400;
}
ul .ul-child.show {
  /* display: block; */
  background-color: inherit;
}
.ul-parent a:hover {
  opacity: 1;
}
.ul-parent li {
  position: relative;
  text-align: left;
}
.ul-parent > li {
  display: inline-block;
  float: left;
}
.ul-parent li a.tMenu {
  transition: background .3s ease;
}
.right-arrow,
.dropdown-arrow {
  font-family: FontAwesome;
  padding-left: 5px;
  font-size: 93%;
  text-align: right;
  display: inline-block;
}
.ul-parent li  ul {
  min-width: 160px;
  display: none;
}
.ul-parent li li a {
  display: block;
  position: relative;
}
.toggle-parent,
.toggle-child {
  cursor: pointer!important;
}
.ul-parent li a {
  display: block;
  text-align: left;
}
/* Vertical/Horizontal Main Menu */
#main-navigation-h {
  z-index: 1000;
}
.main-navigation-wrapper a {
  z-index: 3000;
}
.main-navigation-wrapper .ul-parent a {
  width: 100%;
}
/* Vertical Menus */
#main-navigation-v {
  display: none;
  width: auto!important;
}
#main-navigation-v #close-nav {
  width: 100%;
}
.ul-responsive-v .ul-parent .ul-child,
#main-navigation-v .ul-parent .ul-child {
  box-shadow: none!important;
}
.ul-responsive-v .ul-parent .li-expanded:hover > ul,
.ul-responsive-v .ul-parent .li-expanded .li-expanded:hover > ul,
#main-navigation-v .ul-parent .li-expanded:hover > ul,
#main-navigation-v .ul-parent .li-expanded .li-expanded:hover > ul {
  display: none;
}
.mobile-nav:hover,
ul li.li-expanded > a:hover {
  cursor: context-menu!important;
}
.ul-responsive-v .ul-parent li,
.ul-responsive-v .ul-parent li,
#main-navigation-v .ul-parent a,
#main-navigation-v .ul-parent a {
  width: 100%;
}
.ul-responsive-v .ul-parent,
.ul-responsive-v .ul-child,
.ul-responsive-v .li-item {
  clear: both!important;
  float: left!important;
}
#main-navigation-v .ul-parent,
#main-navigation-v .ul-child,
#main-navigation-v .li-item {
  min-width: 100%;
  clear: both!important;
  float: left!important;
}
.ul-responsive-v .ul-parent li ul,
#main-navigation-v .ul-parent li ul {
  position: relative;
}
.ul-responsive-v .ul-parent li .li-expanded:hover ul,
#main-navigation-v .ul-parent li .li-expanded:hover ul {
  left: 0;
}
.ul-responsive-v .ul-parent ul a,
#main-navigation-v .ul-parent ul a {
  padding-left: 35px!important;
}
.ul-responsive-v .ul-parent ul ul a,
#main-navigation-v .ul-parent ul ul a {
  padding-left: 50px!important;
}
#main-navigation-v .li-1 .toggle-child .right-arrow {
  display: none;
}
.ul-responsive-v .li-1 .toggle-child,
#main-navigation-v .li-1 .toggle-child {
  width: auto;
  clear: none;
}
#main-navigation-v .li-1 .toggle-child:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 5px;
  text-align: right;
}
#open-nav-inner {
  width: 50px;
  background-color: transparent!important;
  margin: 10px 20px 0 0;
}
/* Header */
.w3-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.w3-relative {
  position: relative;
  width: 100%;
}
/* Site Branding */
.header-inner > div {
  float: left;
  width: auto;
}
/* Footer/Account Menu */
.copyright-inner,
.ul-parent-account,
.ul-parent-footer {
  font-family: 'Times New Roman', Times, serif;
}
.ul-parent-account li a,
.ul-parent-footer li a {
  padding: 7px 14px;
}
/* User Account Menu */
.ul-parent-footer {
  width: 100%;
  clear: both;
}
/* Force the menu to stay button on small screen */
/* Force the menu to stay in the center */
.ul-parent-account li,
.ul-parent-footer li {
  float: none;
  width: auto;
  display: inline-block;
}
/* User Account Menu */
.ul-parent-account {
  float: right;
  width: auto;
}
/* Table inside field */
.field-multiple-drag {
  width: 50px;
}
.tabledrag-handle .handle {
  width: 25px;
  height: 25px;
}
/* To roll the text around the image */
.node .field--type-image {
  float: left;
  margin: 15px 1em 0 0;
}
div.item-list > ol.item-list > li article::after,
div.item-list > ol.item-list > li article::before,
.field--type-text::after,
.field--type-text-with-summary::after,
.field--type-text::before,
.field--type-text-with-summary::before {
  display: inline!important;
}
/* User picture on the node */
.node__meta article.profile img {
  width: 50px;
  height: 50px;
}
/* node submited by tag */
.node__meta .node__submitted,
.node__meta article.profile {
  margin: 0;
  padding: 0;
}
/* search bar */
.w3-search-block-form {
  position: relative;
  width: 100%;
  display: inline-block;
}
.w3-search-block-form input {
  width: 100%;
}
.w3-search-block-form .form-item {
  width: 70%;
  float: left;
}
.w3-search-block-form .form-actions {
  width: 30%;
  float: right;
}
.w3-search-block-form .form-type-search input {
  border-right: none!important;
  text-indent: 20px;
  background-color: transparent;
}
.w3-search-block-form .form-type-search:before {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  top: 22px;
  left: 25px;
  background-color: transparent;
}
.w3-search-block-form .form-item,
.w3-search-block-form .form-actions {
  margin: 5px auto!important;
  display: inline-block;
  font-family: Consolas, "courier new";
}
.w3-search-block-form .form-actions input {
  font-family: FontAwesome;
  margin: 0!important;
}
/* label form in the footer */

.footer-menu-inner form label {
  text-align: left;
  float: left;
}
/* ol list */
ol {
  display: block;
}
/* Search Page */
.search-form .search-advanced:hover {
  background-color: transparent!important;
}
.node > .node__title {
  float: left;
}
/* Submitted By pic */
.node > footer.node__meta {
  float: right;
  margin-top: 10px;
}
.node > .node__meta > article,
.node > .node__meta > div {
  float: right;
}
.node > .node__meta .field--name-user-picture {
  padding: 0!important;
  margin: 0 0 0 10px;
}
/* Pager */
.pager__items li {
  padding: 0;
}
.pager__items li a {
  padding: 6px 12px;
  display: inline-block;
}
.pager__items li.is-active a {
  font-weight: bold;
  font-size: 120%;
}
/* Comments Bartik style*/
#content .comment-wrapper h2 {
  margin-bottom: 1em;
}
#content .comment-wrapper h2.comment-form__title {
  margin-bottom: 1em;
}
.field-node--comment {
  font-size: 0.934em;
}
.comment {
  margin-bottom: 19px;
  vertical-align: top;
  display: table;
}
[dir="rtl"] .comment {
  direction: rtl;
}

.comment__meta {
  padding: 0 30px 0 0; /* LTR */
  font-size: 1.071em;
}
[dir="rtl"] .comment__meta {
  padding: 0 0 0 30px;
}
.comment__attribution img {
  border: 1px solid #d3d7d9;
}
/* This is required to win over specificity of .field--type-image img */
.comment .field--name-user-picture img {
  margin: 0;
}
.comment__author .username {
  white-space: nowrap;
}
.comment__author {
  margin: 4px 0;
  line-height: 1.2;
}
.comment__time {
  margin-bottom: 4px;
  color: #68696b;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.733em;
  line-height: 1.2;
}
.comment__permalink {
  font-size: 0.733em;
  line-height: 1.2;
}
.comment__content {
  position: relative;
  display: table-cell;
  padding: 10px 25px 10px 25px;
  vertical-align: top;
  width: 100%;
  border: 1px solid #d3d7d9;
  font-size: 0.929em;
  line-height: 1.6;
  word-break: break-all;
}

.comment__content:before {
  content: '';
  position: absolute;
  right: 100%; /* LTR */
  top: 20px;
  border-top: 20px solid transparent;
  border-right: 20px solid #d3d7d9; /* LTR */
  border-bottom: 20px solid transparent;
}
[dir="rtl"] .comment__content:before {
  right: auto;
  left: 100%;
  border-right: none;
  border-left: 20px solid #d3d7d9;
}
.comment__content:after {
  content: '';
  position: absolute;
  right: 100%; /* LTR */
  top: 20px;
  border-top: 20px solid transparent;
  border-right: 20px solid #fff; /* LTR */
  border-bottom: 20px solid transparent;
  margin-right: -1px; /* LTR */
}
[dir="rtl"] .comment__content:after {
  right: auto;
  left: 100%;
  border-right: none;
  border-left: 20px solid #fff;
  margin-right: 0;
  margin-left: -1px;
}
.comment__content h3 {
  margin-top: 0.94em;
  margin-bottom: 0.45em;
  font-size: 1.171em;
}
.indented {
  margin-left: 40px; /* LTR */
}
[dir="rtl"] .indented {
  margin-right: 40px;
  margin-left: 0;
}
.comment .links {
  padding: 0 0 0.25em 0;
}
.comment .links li {
  padding: 0 0.5em 0 0; /* LTR */
  font-size: 1.08em;
}
[dir="rtl"] .comment .links li {
  padding: 0 0 0 0.5em;
}
.comment--unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
  background: #fff4f4;
}
[dir="rtl"] .comment--unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px;
}

/**
 * change this to .comment--unpublished.
 */
.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}
.unpublished {
  padding: 20px 15px 0;
}
.comment-footer {
  display: table-row;
}
.comment--unpublished .comment__text:after,
.node--unpublished .comment__text:after {
  border-right-color: #fff4f4; /* LTR */
}
[dir="rtl"] .comment--unpublished .comment__content:after,
[dir="rtl"] .node--unpublished .comment__content:after {
  border-left-color: #fff4f4;
}
/*  Advance search for views */
.view-filters details.form-wrapper {
  margin: 16px 0;
  padding: 8px;
  border: 1px solid #ccc;
}
.view-filters details.form-wrapper:hover {
  cursor: pointer;
}
